{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "example": false,
    "arrayCharacterName": false,
    "arrayCharacterObject": false,
    "arrayCharacterObjectByRange": false,
    "arrayCharacterNameByRange": false,
    "arrayEpisodes": false,
    "arrayEpisodesGetNumberOfEpisodes": false,
    "ShowEpisodesOfTheCharacter": false,
    "arrayEpisodesGetNumberOfEpisodesOfTheCharacter": false
  }
}
