@font-face {
	font-family: "vtksdirtyletters";
	src:url("font/vtks dirty letters.ttf");
}
@font-face {
	font-family: "SomethingStrange";
	src:url("font/Something Strange.ttf");
}
@font-face {
	font-family: "youmurdererbbReg";
	src:url("font/youmurdererbbReg.otf");
}
